@font-face {
    font-family: "opensans";
    src: url("./public/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
  }

  @font-face {
    font-family: "montserrat__semibold";
    src: url("./public/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
  }

  @font-face {
    font-family: "montserrat__regular";
    src: url("./public/fonts/Montserrat/static/Montserrat-Regular.ttf");
  }

  :root {
    /* FONT-FAMILY */
    /* --primary-font: "primary";
    --secondary-font: "secondary__semi-bold";
    --regular-secondary-font: "secondary__regular"; */
    --ff-opensans : 'opensans';
    --ff-montserrat-regular : 'montserrat__regular';
    --ff-montserrat-semibold : 'montserrat__semibold';
  }


