@import url(./styles/variables.css);

.header,
.goback,
.search,
.searchbar,
.product-card,
.recent,
.recent-view { 
  margin-top: 40px;
}

.title,
.footer-title {
  font-family: var(--ff-opensans);
}

.nav-link {
  font-family: var(--ff-montserrat-semibold);
  font-weight: 500;
}

.search {
  margin-left: 10px;
}

.search-icon {
  height: 24px;
  width: 24px;
}

.searchbar {
  background: rgba(235, 236, 238, 1);
  border-radius: 16px;
  height: 43px;
}

.info {
  font-family: var(--ff-montserrat-regular);
  color: rgba(0, 0, 0, 0.37);
  font-size: 12px;
}

.main-img {
  width: 420px;
  height: 391px;
}

.sec-img {
  width: 108px;
  height: 108px;
  margin-top: 20px;
  margin-right: 10px;
}

.card-title {
  font-family: var(--regular-secondary-font);
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
}

.availability,
.code {
  font-size: 12px;
}

.availability {
  color: rgba(210, 126, 126, 1);
}

.code {
  color: rgba(0, 0, 0, 0.37);
}

.minus,
.plus,
.side-panel__icon {
  width: 20px;
  height: 20px;
}

.minus,
.number,
.plus {
  margin-left: 10px;
  margin-top: 20px;
}

.price {
  margin-top: 40px;
}

.btn {
  background: rgba(49, 49, 49, 1);
  width: 136px;
  border-radius: inherit;
  font-weight: 400;
  font-size: 16px;
  padding: 13px;
  margin-top: 40px;
}

.contacts-form__wrapper {
  margin-top: 42px;
}

.product__form {
  width: 405px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 20px;
}

.form {
  margin-top: 40px;
}

.form__menu {
  color: rgba(116, 145, 125, 1);
  position: relative;
  margin-bottom: 20px;
}

.plant {
  width: 290px;
  height: 290px;
}

.code,
.price,
.btn,
.enter-text,
.card-description,
.card-storage,
.pricetag,
.buy,
.about-link {
  font-family: var(--ff-montserrat-regular);
}

.card-storage {
  font-size: 14px;
  color: rgba(168, 98, 98, 1);
  margin-top: 20px;
}

.card-description {
  margin-top: 12px;
}

.card-price {
  margin-top: 25px;
}

.pricetag {
  font-family: var(--ff-montserrat-semibold);
}

.buy {
  margin-left: 80px;
  background: rgba(23, 23, 23, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding: 5px;
  border: none;
}

.footer {
  margin-top: 120px;
  background: #f3f3f3;
}

.contacts-title,
.adress-title,
.email-title {
  font-size: 18px;
  font-family: var(--ff-montserrat-semibold);
  margin-top: 60px;
  margin-bottom: 20px;
}

.contacts-info,
.adress-info,
.email-info {
  font-family: var(--ff-montserrat-regular);
  margin-top: 10px;
}

.leaf-wrapper {
  margin-top: 60px;
}

.leaf-img {
  width: 263px;
  height: 152px;
}

.rights {
  font-family: var(--ff-montserrat-regular);
  margin-top: 24px;
}