@media (min-width:320px){
  
}

@media (min-width:567px) and (max-width:768px) {

    #app {
        color: var(--secondary-text-color);
        width: 100%;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .nav__logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        width: 80%;
    }

    .collect {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width:768px) {
    
}

